.containerCreate{
    width: 100%;
}


.mainCreate{
    height: 200px;
}

.imgCreate{
    height: 200px;
    max-width: 100%;
}

.containerAbout{
    width: 40%;
}

.mainAbout{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
   height: 100%;
   
}

.imgAbout{
    width: 100%;
   height: 100%;

    border-radius: 10px;
}
